div.post > div.header-bar > h2{
    padding: 10px;
    text-align: justify;
    text-justify: distribute;
    font-size: 1em;
}


div.post > article > div.clearfix > p{
    padding: 0px;
    text-align: justify;
    text-justify: distribute;
    font-size: 1em;
}